div.report {
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    padding: 20px;
    border: 1px solid lightgrey;
}
img.complete {
	height:14pt;
	margin-right:5px;
}
table {
    width:100%;
    border-spacing:0px;
}
table th, td{
    vertical-align:top;
}
table th{
    text-align:left;
    background-color:black;
    color:white;
    border: 1px solid black;
}
table tbody tr:nth-child(even){
    background-color:lightgrey;
}
table th, td{
    padding: 5px;
}
table td{
    border: 1px solid black;
}
table.summary th:nth-child(1), table.task th:nth-child(1){
    width:70px;
}
table.summary th:nth-child(3), table.summary td:nth-child(3){
    width:200px;
    text-align:left;
}
table.estimates{
    margin-top:20px;
}
table.estimates td:nth-child(1){
    width:200px;
    background-color:black;
    color:white;
}
table.hours {
    width: 350px;
    margin-bottom: 10px;
}
table.hours td:nth-child(1), table.hours td:nth-child(3){
    background-color:black;
    color:white;
}
table.task th:nth-child(3),table.task td:nth-child(3){
    width:30px;
    text-align:center;
}
span.due {
  font-size:10pt;
  font-weight:bold;
}
pre, .cropped {
    overflow-x:auto;
    word-wrap:normal;
    max-width:630px;
}
.taskid {
    color:blue;
    padding-right:20px;
}